@import 'tailwindcss';

@font-face {
    font-family: 'HelloChristmas';
    src: url('/fonts/HelloChristmas.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fairfax';
    src: url("/fonts/Fairfax.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fairfax {
    font-family: 'Fairfax' !important;
}

